NODE_PATH=./
REACT_APP_API_VERSION_1 = api/brokerage/v1
REACT_APP_BACKEND = https://crm-api.qa.entera.ai/
REACT_APP_BROKERAGE_ENV=qa
REACT_APP_CLIENT_ID = 2
REACT_APP_CLIENT_SECRET = XXXX
REACT_APP_CRM_URL = https://crm.qa.entera.ai
REACT_APP_DUE_DILIGENCE_END_START_TIME = 22:00:00
REACT_APP_ENTERA_EMAIL_FAILSAFE_ENTERA_REALTY_COM = enteratest@enterarealty.com
REACT_APP_GRANT_TYPE = password
REACT_APP_SCOPE=*
REACT_APP_SENDER_FROM_EMAIL = enteratest@enterarealty.com
REACT_APP_SEGMENT_TRACKING_KEY = XXXX